body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
    color: #222;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1,
h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 30px;
}

input,
button {
    margin: 5px 3px;
    padding: 6px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li button {
    margin-left: 8px;
    font-size: 0.8em;
}

section {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}